  <div>
    <acme-navbar creationDate="contact.creationDate" />
  </div>
    <div class="container">
    <div class="row">

    <!-- Tags Section-->
    <div class="col-lg-3 ">
        <ul class="list-group ul-tags loadmoretags" when-scrolled='loadMoreTags()'>
        	<li ng-repeat="tag in totalTags" class="list-group-item">
              <button class="btn btn-primary btn-lg" ng-click="getQuestions(tag.name)">{{tag.name}}
                 (<span>{{tag.count}}</span>)
              </button>


            </li>
          <li> <div data-ng-show='loading' class='wait-signal'><img src="css/loader.gif"></div></li>
        </ul>
    </div>

    <!-- Questions Section-->
    <div class="col-lg-4" >
      <ul class="list-group ul-tags" when-questions-scrolled='loadMoreQuestions()'>
        <li ng-repeat="question in data.items" class="list-group-item col-lg-12" set-background-color>
          
          <div class="col-sm-2">
          <img class = "img-circle" ng-src={{question.owner.profile_image}} alt={{question.owner.display_name}}/>
          </div>
          <div class="col-sm-10">
          <a href="#" ng-click="getAnswers(question.question_id)">{{question.title}}
            <button class="btn btn-info pull-right btn-xs col-sm-4" ng-click="showMore = !showMore">More</button>
          </a>
          </div>
        <div ng-show="showMore" ng-bind-html="question.body">{{question.body}}</div></li>
         <li> <div data-ng-show='loading' class='wait-signal'><img src="css/loader.gif"></div></li>
      </ul>
    </div>



    <!-- Answers Section-->
    <div class="col-lg-5 ul-tags" >
      <ul class="list-group">
       <li ng-repeat="answer in answerdata.items" class="list-group-item col-lg-12" ng-if="answerlength !== 0">
          <h3>Answer By {{answer.owner.display_name}} 
          <img class = "img-circle" ng-src={{answer.owner.profile_image}} alt={{answer.owner.display_name}}/></h3>
          <div ng-bind-html="answer.body">{{answer.body}</div>
         </li>
         <li class=" remove-padding">
         <ul class="list-group">
           <li class="list-group-item col-lg-12"  ng-if="answerlength === 0">
              This Question has no answer as yet...
           </li>
         </ul>
         </li>
      </ul>
    </div>
    
    </div>
    </div>